<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
</head>

<body>
<p>Complaint:</p>
<p>Build title:{KEY1}</p>
<p>Describe the work alledgly infringed:{KEY2}</p>
<p>Copyright Owner's Name (Company Name):{KEY3}</p>
<p>Your Title or Job Position (What is your authority to make this complaint?):{KEY4}</p>
<p>Email Address:{KEY5}</p>
<p>Your Full Legal Name (A first and a last name, not a company name):{KEY6}</p>
<p>Street Address1:{KEY7}</p>
<p>Street Address2:{KEY8}</p>
<p>City:{KEY9}</p>
<p>County/Area: {KEY10}</p>
<p>ZIP/Postcode:{KEY11}</p>
<p>Country:{KEY12}</p>
<p>Phone:{KEY13}</p>
<p>Owner signature:{KEY14}</p>
<hr />
</body>
</html>
